
nav {
  background-color: rgb(87, 85, 85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav ul {
  list-style: none; 
  display: flex; 
  justify-content: center; 
}
nav ul li {
  margin: 0 20px;
}
nav ul li a {
  color: white;
  padding: 15px;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: cyan;
}  